@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

#root > * {
  text-align: center;
}

.d-block {
  height: 880px;
}

.layout {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.picture {
  width: 900px;

}
.text-paragraph {
  width: 700px;
}

.new-align {
  align-items: center;
}

.MyLink {
  color: inherit;
  text-decoration: inherit;
}
